<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Payroll Tracker</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="logo-brand" href="/"> Payroll Tracker</a>
      </h5>

      <a class="btn btn-outline-primary" href="/logout">SIGNOUT</a>
    </div>

    <div class="container content">
      <div class="container">
        <h4 class="greeting">Howdy, <%= username %></h4>

        <button
          onclick="deleteAll()"
          class="btn btn-outline-danger btn-lg allEntryBtn"
        >
          DELETE ALL ENTRIES
        </button>

        <div class="btn-group">
          <button
            class="btn btn-outline-danger btn-lg dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            DELETE DATE SPECIFIC ENTRIES
          </button>
          <div class="dropdown-menu">
            <form action="/deleteSpecific">
              <div class="form-group">
                <label for="from"><span class="dateText"> FROM </span></label>
                <input type="date" class="form-control" name="from" required />
              </div>

              <div class="form-group">
                <label for="to"><span class="dateText"> TO </span></label>
                <input type="date" class="form-control" name="to" required />
              </div>

              <button class="btn btn-outline-danger btn-block" type="submit">
                DELETE
              </button>
            </form>
          </div>
        </div>

        <h4 class="greeting">All Entries (From New -> Old)</h4>
        <br />
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="entries">Username</th>
            <th scope="col" class="entries">Logged In (Date, Time)</th>
            <th scope="col" class="entries">Logged Out (Date, Time)</th>
            <th scope="col" class="entries">Duration (hh:mm:ss)</th>
            <th scope="col" class="entries">Timezone</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i = (finalDoc.length-1); i>=0;i--) { %>
          <tr>
            <td class="entries"><%= finalDoc[i].username %></td>
            <td class="entries"><%= finalDoc[i].entryDayTime %></td>
            <td class="entries"><%= finalDoc[i].exitDayTime %></td>
            <td class="entries"><%= finalDoc[i].duration %></td>
            <td class="entries"><%= finalDoc[i].entryTimeZone %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <script>
      function deleteAll() {
        let url = '/delete';
        window.location = url;
      }
    </script>
    <%- include("partials/footer"); -%>
  </body>
</html>
