<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">DAILY JOURNAL</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="compose"><a href="/compose">COMPOSE</a></li>
        <li id="logout"><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container-fluid">



    <h1>Home</h1>

    <p>
      <%= startingContent %>
    </p>

    <% posts.forEach(function(post){ %>
    <h1>
      <%=  post.title %>
    </h1>
    <p>
      <%=  post.content.substring(0,200) + " ..." %>
      <a href="/posts/<%= post._id %>">Read More</a>
    </p>
    <% }) %>

    <%- include("partials/footer"); -%>
